<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
        <%- include('../partials/_navbar') %>
    <main>
        <section class="section">
            <h2>Edit Journal Entry</h2>
            <form action="/journals/<%= journal.id %>?_method=PUT" method="POST">
                <label>Title</label>
                <input 
                type="text"
                name="title"
                value="<%= journal.title %>"
                required
                />
                <label>Content</label>
                <textarea 
                name="content"
                required><%= journal.content %></textarea>
                <label>Make Dream Public:</label>
                <input 
                type="radio"
                name="isPublic"
                value="true"
                id="radio-yes"
                <% if ( journal.isPublic === true ) { %>
                    checked
                <% } %>
                />
                <label for="radio-yes">Yes</label>
                <input 
                type="radio"
                name="isPublic"
                value="false"
                id="radio-no"
                <% if ( journal.isPublic === false ) { %>
                    checked
                <% } %>
                />
                <label for="radio-no">No</label>
                <button type="submit">Edit Journal Entry</button>
                <a href="/journals/<%= journal.id %>">Cancel</a>
            </form>
        </section>
    </main>
</body>
</html>