<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
        <%- include('../partials/_navbar') %>
    <header>
        <h3>Public Journal Entries</h3>
        <section>
            <div>
                <label for="">Search Entries</label>
                <input /> 
                <button type="submit">Search</button>
            </div>
            <div>
                <a href="/journals/new">New Journal Entry</a>
            </div>
        </section>
     </header>
     <main>
            <% for(let i = 0; i < journals.length; i++){ %> 
            <% const journal = journals[i] %>
            <article>
                <h4><a href='/journals/<%= journal.id %>'><%= journal.title %></a></h4>
                <div>
                    <p><a href='/profile/<%= journal.userId.id %>'><%= journal.userId.username %></a></p>
                    <p><%= journal.createdAt %></p>
                </div>
                <div>
                    <p><%= journal.content %></p>
                </div>
            </article>
            <% } %>
        
    </main>
</body>
</html>