<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" href="/styles/journal.css" />
</head>
<body>
        <%- include('../partials/_navbar') %>
    <header class="section index__header">
        <h3>Public Journal Entries</h3>
        <div class="section__flex">
            <div class="search">
                <div>
                    <input name="search" class="input"/>
                    <button type="submit" class="button">Search</button>
                </div>
            </div>
        </div>
        <div class="new__button">
            <a href="/journals/new" class="button">New Journal Entry</a>
        </div>
     </header>
     <main>
            <% for(let i = 0; i < journals.length; i++){ %> 
            <% const journal = journals[i] %>
                <article class="journal">
                    <h4 class="journal__title"><a href='/journals/<%= journal.id %>'><%= journal.title %></a></h4>
                    <div class="journal__flex">
                        <div class="journal__flex__user">
                            <p class="space"><a href='/profile/<%= journal.userId.id %>'><%= journal.userId.username %></a></p>
                            <p><%= journal.createdAt %></p>
                        </div>
                        <div class="journal__flex__content">
                            <p><%= journal.content %></p>
                        </div>
                    </div>
                </article>
            <% } %>
        
    </main>
</body>
</html>