<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
        <%- include('../partials/_navbar') %>
    <header class="section">
        <h3>Public Journal Entries</h3>
        <section class="section__flex">
            <div>
                <label for="search">Search Entries</label>
                <input name="search" class="input"/> 
                <button type="submit" class="button">Search</button>
            </div>
            <div>
                <a href="/journals/new" class="button">New Journal Entry</a>
            </div>
        </section>
     </header>
     <main>
            <% for(let i = 0; i < journals.length; i++){ %> 
            <% const journal = journals[i] %>
                <article class="journal">
                    <h4 class="journal__title"><a href='/journals/<%= journal.id %>'><%= journal.title %></a></h4>
                    <div class="journal__flex">
                        <div class="journal__flex__user">
                            <p><a href='/profile/<%= journal.userId.id %>'><%= journal.userId.username %></a></p>
                            <p><%= journal.createdAt %></p>
                        </div>
                        <div class="journal__flex__content">
                            <p><%= journal.content %></p>
                        </div>
                    </div>
                </article>
            <% } %>
        
    </main>
</body>
</html>