<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <nav>
        <%- include('../partials/_navbar') %>
    </nav>
    <header>
        <h3>Public Journal Entries</h3>
        <section>
            <div>
                <label for="">Search Entries</label>
                <input /> 
                <button type="submit">Search</button>
            </div>
            <div>
                <a href="/journals/new">New Journal Entry</a>
            </div>
        </section>
     </header>
     <section>
        <div>
            <% for(let i = 0; i < journals.length; i++){ %> 
            <% const journal = journals[i] %>
            <a href='/journals/<%= journal.id %>'>
                <div>
                    <h5><%= journal.title %></h5>
                    <p><%= journal.createdAt %></p>
                </div>
                <p><%= journal.content %></p>
            </a>
            <% } %>
        </div>
    </section>
</body>
</html>