<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" href="/styles/journal.css" />
</head>
<body>
        <%- include('../partials/_navbar') %>
    <main>
        <article class="journal">
            <h3 class="journal__title"><%= journal.title %></h3>
            <div class="journal__flex">
                <div class="journal__flex__user">
                    <a href='/profile/<%= journal.userId.id %>'><%= journal.userId.username %></a>
                    <p><%= journal.createdAt %></p> 
                </div>
                <div class="journal__flex__content">
                    <p><%= journal.content %></p>
                </div>
            </div>
        </article>
        <% if (user.id == journal.userId.id) { %> 
            <section class="btns__flex">
                <a href="/journals/<%= journal.id %>/edit" class="button">Update</a>
                <a href="/journals/<%= journal.id %>/delete" class="button delete__button">Delete</a>
            </section>
        <% } %> 
    </main>
</body>
</html>