<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <nav>
        <%- include('../partials/_navbar') %>
    </nav>
    <main>
        <section>
            <div>
                <h3><%= journal.title %></h3>
                <p><%= journal.createdAt %></p> 
            </div>
            <p><%= journal.content %></p> 
        </section>
        <% if (user.id == journal.userId) { %> 
            <section>
                <a href="/journals/<%= journal.id %>/edit">Update Entry</a>
                <a href="#">Make Public</a>
                <a href="/journals/<%= journal.id %>/delete">Delete Entry</a>
            </section>
        <% } %> 
        
    </main>
</body>
</html>