<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <nav>
        <%- include('../partials/_navbar') %>
    </nav>
    <main>
        <article>
            <h3><%= journal.title %></h3>
            <div>
                <a href='/profile/<%= journal.userId.id %>'><%= journal.userId.username %></a>
                <p><%= journal.createdAt %></p> 
            </div>
            <div>
                <p><%= journal.content %></p>
            </div>
        </article>
        <% if (user.id == journal.userId.id) { %> 
            <section>
                <a href="/journals/<%= journal.id %>/edit">Update Entry</a>
                <a href="#">Make Public</a>
                <a href="/journals/<%= journal.id %>/delete">Delete Entry</a>
            </section>
        <% } %> 
    </main>
</body>
</html>