<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
        <%- include('../partials/_navbar') %>
    <main class="form__flex">
        <section class="section">
            <h2>Edit My User Profile</h2>
            <form action="/profile/<%= userToEdit.id %>?_method=PUT" method="POST" class="form">
                <% if (typeof error !== "undefined") { %>
                    <p class="form__error"><%= error.message %></p> 
                <% } %>
                <div class="form__field">
                    <label>Username</label>
                    <input
                    class="input" 
                    type="text"
                    name="username"
                    value="<%= userToEdit.username %>"
                    required
                    />
                </div>
                <div class="form__field">
                    <label>Email</label>
                    <input
                    class="input" 
                    type="text"
                    name="email"
                    value="<%= userToEdit.email %>"
                    required
                    />
                </div>
                <div class="form__field">
                    <label>Avatar</label>
                    <input
                    class="input" 
                    type="text"
                    name="avatar"
                    value="<%= userToEdit.avatar %>"
                    />
                </div>
                <div class="form__field">
                    <button type="submit" class="button success__button">Confirm Edits</button>
                    <a class="button cancel__button" href="/profile/<%= userToEdit.id %>">Cancel</a>
                </div>
                
            </form>
        </section>
    </main>
</body>
</html>