<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" href="/styles/journal.css" />
</head>
<body>
        <%- include('../partials/_navbar') %>
    <div class="center__elements">
        <header>
            <section class="section profile__section">
                <h3>Profile</h3>
                <div>
                    <img class="image" src="<%= thisUser.avatar %>" alt="profile-photo">
                </div>
                <p class="username"><%= thisUser.username %></p>
                <p>Join Date: <%= thisUser.joinDate.toLocaleDateString() %> %></p>
                <% if (user.id === thisUser.id) { %> 
                    <a href="/profile/<%= thisUser.id %>/edit"><button class="button">Update profile</button></a>
                <% } %> 
            </section>
            <section class="section">
                <h3>Journal Entries</h3>
                <div class="flex__elements">
                    <div class="section__flex">
                        <div class="search">
                            <form class="search__flex">
                                <input name="search" class="input" type="search" placeholder="Search" />
                                <div class="search__buttons">
                                    <button type="submit" class="button">Search</button>
                                    <a class="button" href="/profile/<%= thisUser.id %>" >Reset</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="new__button">
                        <a href="/journals/new" class="button space-top">New Journal Entry</a>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <section class="journal__grid">
                <% for(let i = 0; i < userJournals.length; i++){ %> 
                    <% const journal = userJournals[i] %>
                    <% if (user.id === thisUser.id && journal.isPublic === false) { %>
                    <a href='/journals/<%= journal.id %>'>
                        <article class="journal">
                            <h4><%= journal.title %></h4>
                            <div class="journal__flex">
                                <div class="journal__flex__user">
                                    <img class="image journal__user__img" src="<%= thisUser.avatar %>">
                                    <p class="space"><%= thisUser.username %></p>
                                </div>
                                <div class="journal__flex__content">
                                    <p><%= journal.content %></p>
                                </div>
                            </div>
                            <hr class="space-top"/>
                            <div class="journal__footer">
                                <p class="space-top">Posted: <%= journal.createdAt.toLocaleString() %></p>
                                <p class="space-top">Status: Private</p>
                            </div>
                        </article>
                    </a>
                    <% } else if (journal.isPublic === true) { %>
                    <a href='/journals/<%= journal.id %>'>
                        <article class="journal">
                            <h4><%= journal.title %></h4>
                            <div class="journal__flex">
                                <div class="journal__flex__user">
                                    <img class="image journal__user__img" src="<%= thisUser.avatar %>" alt="profile-photo">
                                    <p class="space"><%= thisUser.username %></p>
                                </div>
                                <div class="journal__flex__content">
                                    <p><%= journal.content %></p>
                                </div>
                            </div>
                            <hr class="space-top"/>
                            <div class="journal__footer">
                                <p class="space-top">Posted: <%= journal.createdAt.toLocaleString() %></p>
                                <p class="space-top">Status: Public</p>
                            </div>
                        </article>
                    </a>
                    <% } %>
                <% } %> 
            </section>
        </main>
    </div>
    
</body>
</html>