<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
        <%- include('../partials/_navbar') %>
    <header>
        <section>
            <h3>Profile</h3>
            <img src="#" alt="#">
            <p><%= thisUser.username %></p>
            <p><%= thisUser.joinDate %></p>
            <% if (user.id === thisUser.id) { %> 
                <a href="/home"><button>Update profile</button></a>
            <% } %> 
        </section>
        <section>
            <div>
                <label for="">Search Entries</label>
                <input /> 
                <button type="submit">Search</button>
            </div>
            <div>
                <a href="/journals/new">New Journal Entry</a>
            </div>
        </section>
     </header>
     <main>
        <section>
            <h3>Journal Entries</h3>
            <% for(let i = 0; i < userJournals.length; i++){ %> 
                <% const journal = userJournals[i] %>
                <% if (user.id === thisUser.id && journal.isPublic === false) { %> 
                    <article>
                        <h4><a href='/journals/<%= journal.id %>'><%= journal.title %></a></h4>
                        <div>
                            <p><%= thisUser.username %></p>
                            <p><%= journal.createdAt %></p>
                        </div>
                        <div>
                            <p><%= journal.content %></p>
                        </div>
                        <p>Status: Private</p>
                    </article>
                <% } else if (journal.isPublic === true) { %>
                    <article>
                        <h4><a href='/journals/<%= journal.id %>'><%= journal.title %></a></h4>
                        <div>
                            <p><%= thisUser.username %></p>
                            <p><%= journal.createdAt %></p>
                        </div>
                        <div>
                            <p><%= journal.content %></p>
                        </div>
                        <p>Status: Public</p>
                    </article>
                <% } %>
            <% } %> 
        </section>
    </main>
</body>
</html>